
.container-login {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.418);
}

.logo-a1paso {
    width: 100%;
    max-width: 400px;
    height: auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-line {
    height: 2px;
    background-color: #eeac36;
}

.login-title {
    text-align: center;
    color: #eeac36;
}

.login-letter {
    padding: 0;
    margin: 20px 0;
    font-size: 15px;
    color: #eeac36;
}

.login-letter-send {
    text-align: end;
    padding: 0;
    font-size: 15px;
    color: #eeac36;
}

.login-input {
    height: 30px;
    width: 250px;
    border: 2px solid #eeac36;
    border-radius: 8px;
    background: none;
    padding: 10px;
    margin: 15px 0;
    color: #eeac36;
}

.login-input::placeholder {
    color: #eeac36;
}

.login-button {
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    color: #5a3694;
    border-radius: 8px;
    border: none;
    background-color: #eeac36;
    height: 50px;
    width: 270px;
    padding: 10px;
}

.login-button:hover {
    transition: 250ms;
    box-shadow: 5px 5px 19px -2px #eeac36;
}

.login-signin {
    font-size: 18px;
    margin: 20px 0;;
    height: 50px;
    width: 270px;
    padding: 10px;
    background-color: #5a3694;
    border-radius: 8px;
    border: none;
    color: #eeac36;
    font-weight: bold;
}


.login-signin:hover {
    transition: 250ms;
    box-shadow: 5px 5px 19px -2px #5a3694;
}

.login-fb {
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #3b5998 ;
    height: 50px;
    width: 270px;
    padding: 10px;
}

.container {
    height: 800px;
    width: 500px;
    background-color: black;
}

.login-figure {
    display: flex;
    align-items: center;
}

.figure-line-left {
    height: 2px;
    width: 100%;
    background-color: #eeac36;
}

.figure-ball {
    height: 10px;
    width: 10px;
    margin: 0px 15px;
    background-color: #eeac36;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
}

.figure-line-rigth {
    height: 2px;
    width: 100vw;
    background-color: #eeac36;
}